<p style="color: green"><%= notice %></p>

<% content_for :title, "Genres" %>

<h1 class="text-center">Genres Editor</h1>
  <table class="table table-striped table-dark table-hover">
  <thead class="thead-dark">
  <tr> <th>#</th> <th>Name</th> <th>Actions</th> </tr>
  </thead>
  <% @genres.each do |genre| %>
  <tbody>
    <tr>
      <td><%= genre.id %></td>
      <td><%= genre.name %></td>
      <td>
        <%= link_to "Edit", edit_genre_path(genre), method: :get, class: "btn btn-outline-info"%>
        <%= link_to "Delete", genre, class: "btn btn-outline-danger", data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' }%>
      </td>
    </tr>
    <tbody>
  <% end %>
</table>
<div class="container-fluid text-center fs-2">
<%= link_to "New genre", new_genre_path, class: "btn btn-success btn-lg" %>
</div>