
<%= form_with(model: product) do |form|%>
  <% if product.errors.any? %>
    <div class="bg-danger border border-danger" style="--bs-bg-opacity: .3;">
      <h2 class="text-danger"><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li class="text-danger"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div >
    <%= form.label :name, style: "display: block"  %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.textarea :description %>
  </div>

  <div>
    <%= form.label :image_url, style: "display: block" %>
    <%= form.text_field :image_url %>
  </div>

  <div>
    <%= form.label :brand, style: "display: block" %>
    <%= form.text_field :brand %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>
<div>
    <%= form.label :category.name, style: "display: block" %>
    <%= form.text_field :category.name %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
